<a href="https://colab.research.google.com/github/Dhakcin-123/python_sets/blob/main/Set_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_set = {1,2,3,4,3}
print(my_set)

{1, 2, 3, 4}

In [4]:
numbers = {1,2,4,5,5,3,6,7,7}
unique_set = set(numbers)
print(unique_set)

{1, 2, 3, 4, 5, 6, 7}

In [5]:
set1 = {1,2,3,4,5,6,6,6,7,8}
set2 = {4,5,5,6,7,8,9,10,10,11}
union_set = set1.union(set2)
print("The union of the sets are",union_set)

The union of the sets are {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [6]:
set1 = {1,2,3,4,5,6,6,6,7,8}
set2 = {4,5,5,6,7,8,9,10,10,11}
intersection_set = set1.intersection(set2)
print("The intersecting values are",intersection_set)

The intersecting values are {4, 5, 6, 7, 8}

In [9]:
fruits = ["strawberry","watermelon","apple","mango","orange","strawberry","mango"]
var = set(fruits)
print(var)

{'strawberry', 'mango', 'watermelon', 'apple', 'orange'}

In [10]:
list1 = [1,2,2,3,3,3,3,4,5,6,7,7]
list2 = [4,4,4,5,6,7,7,7,8,9,10,11]
set1 = set(list1)
set2 = set(list2)
inter = set1.intersection(set2)
print(inter)

{4, 5, 6, 7}

In [11]:
l1 = ["mango","apple","coconut","orange"]
l2 = ["coconut","apple","pomogranite","pear"]
s1 = set(l1)
s2 = set(l2)
inters = s1.intersection(s2)
print(inters)

{'coconut', 'apple'}

In [12]:
nset = {1,2,7,9}
xset = {3,8,6,5}
intersect = nset.intersection(xset)
print(intersect)

set()

In [13]:
l1 = ["mango","apple","coconut","orange"]
l2 = ["coconut","apple","pomogranite","pear"]
s1 = set(l1)
s2 = set(l2)
unique = s1.union(s2)
print(unique)

{'pomogranite', 'mango', 'coconut', 'apple', 'orange', 'pear'}